.users-index-main {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.users-index-main > h1 {
    text-align: center;
}

.users-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-thumbnail {
    height: 50px;
    width: 50px;
    background-image: url("user_icon.png");
    background-size: contain;
    border: 1px solid black;
    border-radius: 50%;
}



.user-index-item-card {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    width: 250px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
    margin: 0 5px 10px 5px;
}

.thumbnail-username {
    display: flex;
    align-items: center;
}

.icon-username > h3 {
    margin-left: 5px;
}

.user-page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-bio {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
}

.image-user-detials {
    display: flex;
    align-items: center;
    // flex-direction: column;
    // align-items: center;
    padding: 10px;
}

.user-details {
    margin-left: 10px;
}

.user-details > h2 {
    margin: 0;
}

// .user-show-username {
//     margin-left: ;
// }

.user-show-image {
    height: 100px;
    width: 100px;
    background-image: url("user_icon.png");
    background-size: contain;
    border: 1px solid black;
    border-radius: 50%;
}

.user-dashboard {
    height: calc(100% - 220px);
    margin: 10px;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    margin-top: 0;
}

