.users-index-main {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.users-index-main > h1 {
    text-align: center;
}

.users-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-thumbnail {
    height: 50px;
    width: 50px;
    background-image: url("user_icon.png");
    background-size: contain;
    border: 1px solid black;
    border-radius: 50%;
}



.user-index-item-card {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    width: 250px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
    margin: 0 5px 10px 5px;
}

.thumbnail-username {
    display: flex;
    align-items: center;
}

.icon-username > h3 {
    margin-left: 5px;
}

.user-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    // height: calc(100% - 220px);
}

.user-image {
    display: flex;
    align-items: center;
    // flex-direction: column;
    // align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    height: 350px;
}

.user-show-image {
    height: 200px;
    width: 200px;
    background-image: url("user_icon.png");
    background-size: contain;
    border: 1px solid black;
    border-radius: 50%;
}

.user-bio-dash {
    display: flex;
    height: 100%;
    margin-bottom: 10px;
    // height: calc(100% - 220px);
    // border: 1px solid black;
    // border-radius: 6px;
    // margin: 10px;
}

.user-details, .user-dashboard, .user-asside {
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    margin-top: 0;
}

.user-details {
    width: 300px;
    height: calc(100% - 20px);
}

.user-dashboard {
    width: calc(100% - 300px);
    height: calc(100% - 20px);
    text-align: center;
    margin-left: 0;
}

.user-asside {
    width: 200px;
    height: calc(100% - 20px);
    text-align: center;
    margin-left: 0;
}

.user-username {
    margin-left: 10px;
    align-self: flex-end;
}

.user-username > h2 {
    margin: 0;
}

// .user-show-username {
//     margin-left: ;
// }




